<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:annotation-config/>
    <context:component-scan base-package="japan.data"/>
    <aop:aspectj-autoproxy/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/japandb" />
        <property name="username" value="root" />
        <property name="password" value="root" />
        <property name="initialSize" value="5" />
        <property name="maxTotal" value="10" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="worker" class="japan.worker.WorkWithSamurais"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="japan.data.entities" />
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven/>

    <bean id="weaponWorker" class="japan.worker.WorkWithWeapon"/>


    <bean id="hanzo" class="japan.Samurai">
        <property name="name" value="Hanzo"/>
        <property name="weapon" ref="katana"/>
    </bean>

    <bean id="katana" class="japan.Weapon">
        <property name="name" value="Katana"/>
    </bean>

    <bean id="danzo" class="japan.Secundant">
        <property name="name" value="Danzo"/>
    </bean>

    <bean id="smithy" class="japan.Smith">
        <property name="name" value="Ivan"/>
    </bean>

    <aop:config>
        <aop:aspect ref="danzo">
            <aop:after
                    pointcut="execution(* japan.Samurai.sepuku(..))"
                    method="chopHead"/>
        </aop:aspect>
    </aop:config>


</beans>



